header{
  background: url(../../../../assets/images/background.png); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 70px;
}

.rounded-circle {
  border-radius: 50%; 
  overflow: hidden; 
  width: 520px; 
  height: 520px;
}

video {
width: 100%; 
height: 100%; 
border: none; 
object-fit: cover;
}

