$primary: #ff8800;
$light: #ffebb5;

.card {
  height: 30.53rem;

  .card-img-top {
    min-height: 18.75rem;
    height: 18.75rem;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .badge-card {
    top: 1.56rem;
    right: 1.06rem;
    transform: scale(1);
    transition: transform 0.3s ease;
    ::ng-deep app-category-icon {
      svg {
        fill: $primary;
        height: 1.5rem;
        transform: translate(-7%, -12%);
      }
    }
    &:hover {
      transform: scale(1.1);
    }
  }

  .blur-bg {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.63rem);
  }

  .card-body {
    a {
      position: relative;
      font-size: 1.06rem;
      text-decoration-thickness: 0.125rem;
      text-decoration-color: $light;
      text-underline-offset: 0.5rem;
      transition: text-decoration-color 0.4s linear;
      color: $primary;

      &::after {
        position: absolute;
        content: "";
        bottom: -0.2rem;
        left: 0;
        background-color: $primary;
        width: 0%;
        height: 0.19rem;
        transition: width 0.4s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
