:root {
  box-sizing: border-box;
}
//Fonts
$font-family-sans-serif: "Inter", sans-serif;
$h1-font-size: 3.9rem;
$h2-font-size: 3.125rem;
$h3-font-size: 2.1rem;

//Colors
$primary: #ff8800;
$secondary: #858585;
$light: #fff4d4;
$dark: #020202;

//Navbar
$nav-link-font-size: 1.1rem;
$navbar-light-color: $dark;
$navbar-light-hover-color: $primary;

//Buttons
$btn-font-size: 1.1rem;

//Cards
$card-border-radius: 0.625rem;


@import "../node_modules/bootstrap/scss/bootstrap.scss";
