<section class="overflow-hidden pb-0 pb-md-5">
  <div appAppearAnimation class="row align-items-center justify-content-between pb-5 text-center text-lg-start">
    <!-- left side -->
    <div class="col-12 col-lg-6 mb-5 mb-md-0">
      <img class="img-fluid rounded-end-5" alt="chef image" src="assets/images/chef2.jpg">
    </div>

    <!-- right side -->
    <div class="col-12 col-lg-6 ">
      <div class="container w-75">
        <p class="fs-4 text-secondary mt-3 mb-4">
          Auguste Gusteau believes that cooking is not just about following a recipe, but about putting heart and soul
          into every dish. From humble beginnings in a small kitchen, I’ve explored diverse cultures and flavors,
          creating food that tells a story. Through my digital culinary empire, I’ve made gourmet cooking accessible to
          all, whether it’s for a simple meal or a gourmet experience. With a community of food lovers, my mission is to
          inspire creativity, exploration, and fun in the kitchen, helping everyone bring out their inner chef one
          delicious dish at a time.
        </p>
      </div>
    </div>
  </div>
</section>